# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IDEAproject\人工智能实验-传教士与野人问题\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
